.btn{
  margin-left: 30px;
}
.navbar{
  background-color: white;
}
.about-section{
  text-align: center;
  margin: 100px;
  padding: 30px;
}
.about-p1{
  font-size: 21px;
  margin-top: 15px;
  font-family: 'georgia';
  color: rgb(245, 82, 7) ;
}

.about-title{
  font-family: 'georgia';
}

.about-p2{
  margin-top: 8px;
  font-size: 14px;
}
.work-div{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-top: 70px;
  font-family: 'georgia';
}
.card{
  margin-left: 40px;
  margin-top: -40px;
  align-items: center;
  justify-content: center;
  
}
.card-icons{
  width: 80px;
  height: 80px;
  margin-top: 40px;
  margin-bottom: 22px;
}

#navitem1:hover{
  text-decoration: underline;
  color: red;
}

#navitem2:hover{
  text-decoration: underline;
  color: red;
}

#navitem3:hover{
  text-decoration: underline;
  color: red;
}